<div class="d-flex flex-column gap-3">
  <span class="page-title" style="font-size: 1.5rem; font-weight: bold;">Select Program</span>
  <button class="btn btn-primary align-self-start" (click)="createNewProgram()">Create a program</button>

  <div class="card w-100 p-3" *ngIf="newProgram?.show">
      <div class="mb-3">
        <label for="programName" class="form-label">Program Name</label>
        <input type="text" class="form-control" id="programName" [(ngModel)]="newProgram.name" placeholder="Enter program name">
      </div>
      <!--search-->
      <div class="d-flex flex-column gap-2">
        <input type="text" class="form-control" style="width: 250px;" [(ngModel)]="searchText" placeholder="Search exercises" (input)="searchExercises()">
        <div class="d-flex flex-row align-items-center gap-2" *ngIf="exerciseService.categories">
          <span>Filter by categories</span>
          <app-dropdown [text]="'Select'" [items]="exerciseService.categories" (onItemClick)="searchExercises($event)"></app-dropdown>
        </div>
        <div class="d-flex flex-row align-items-center gap-2" *ngIf="exerciseService.muscleGroups">
          <span>Filter by muscles group</span>
          <app-dropdown [text]="'Select'" [items]="exerciseService.muscleGroups" (onItemClick)="searchExercises($event)"></app-dropdown>
        </div>
      </div>
    <div class="animated-container">
      <div class="row g-3">
        <ng-container>
          <div class="col-6">
            <span class="mb-3">Select exercises for the selected day</span>
            <button class="btn btn-outline-warning mb-2" (click)="addExercise({name: 'Rest'})">Rest</button>
            <div class="row g-3 overflow-auto" style="max-height: 500px;">
              <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let exercise of exerciseService.exercises" [hidden]="exercise.show">
                <div class="card exercise-card rounded overflow-hidden d-flex flex-column align-items-center" (click)="addExercise(exercise)" style="cursor: pointer;">
                  <div class="flex-fill w-100 d-flex align-items-center justify-content-center">
                    <button class="btn btn-link border position-absolute" style="left: 10px;" (click)="prevImage(exercise); $event.stopPropagation();">
                      <i class="fas fa-chevron-left"></i>
                    </button>
                    <img [src]="exercise.images[imageIndexes[exercise.name] || 0]" alt="{{ exercise.name }}" class="img-fluid" style="max-height: 100%; object-fit: contain; filter: brightness(0.8)">
                    <button class="btn btn-link border position-absolute" style="right: 10px;" (click)="nextImage(exercise); $event.stopPropagation();">
                      <i class="fas fa-chevron-right"></i>
                    </button>
                  </div>
                  <div class="mt-auto">
                    <h5 class="card-title text-center mb-0">{{ exercise.name }}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div *ngFor="let ex of newProgram.exercises">
              <div class="d-flex flex-column mb-2 border rounded position-relative" style="height: 200px;">
                <div class="position-absolute" style="top: 5px; right: 5px;">
                  <button class="btn btn-link text-danger" (click)="removeExercise(ex)">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
                <div class="d-flex gap-2">
                  <div *ngIf="ex.name !== 'Rest'" class="overflow-hidden" style="width: 120px; height: 120px;">
                    <img [src]="ex.images[0]" alt="{{ ex.name }}" class="img-fluid rounded" style="max-height: 100%; object-fit: cover;">
                  </div>
                  <div class="d-flex flex-column gap-1">
                    <span style="font-size: 1.4rem; font-weight: bold;">{{ ex.name }}</span>
                    <div *ngIf="ex.name !== 'Rest'" class="px-1 rounded bg-danger bg-opacity-50" style="cursor: pointer; width: fit-content;" (click)="addWeight(ex)">
                      <span class="text-white" style="font-size: 0.9rem;">{{ex.weight ? ex.weight + ' KG ' : 'Add Weight'}} <i class="fas fa-edit ms-1"></i></span>
                    </div>
                    <div *ngIf="ex.name !== 'Rest'" class="px-1 rounded bg-danger bg-opacity-50" style="cursor: pointer; width: fit-content;">
                      <span class="text-white" style="font-size: 0.9rem;">{{'Add Reps and times +'}}</span>
                    </div>
                    <div *ngIf="ex.name === 'Rest'" class="px-1 rounded bg-danger bg-opacity-50" style="cursor: pointer; width: fit-content;">
                      <span class="text-white" style="font-size: 0.9rem;">{{'Add time +'}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div *ngIf="gs.savedPrograms.length" class="mt-3">
      <span>Saved Programs:</span>
      <div class="d-flex flex-wrap gap-2 mt-1">
        <button *ngFor="let sp of gs.savedPrograms" class="btn btn-outline-secondary">
          {{ sp.name }}
        </button>
      </div>
    </div>
      <!-- Add more fields as needed -->
      <div class="d-flex justify-content-end gap-2 mt-3">
        <button class="btn btn-secondary" (click)="newProgram = null;">Cancel</button>
        <button class="btn btn-success" (click)="newProgram.save();">
          <i class="fa fa-check"></i>
        </button>
      </div>
    </div>
</div>

<!-- Add Weight popup -->
<div *ngIf="addWeightPopup?.show" class="popup-overlay">
  <div class="popup-wrapper">
    <div class="popup-content" style="width: 300px;">
      <div class="popup-header">
        <span class="popup-title" style="font-weight: bold; font-size: 1.2rem;">Add Weight</span>
        <span class="popup-subtitle text-muted" style="font-weight: bold;">Select weight for the: {{addWeightPopup.exercise.name}}</span>
      </div>
      <div class="popup-body">
        <select class="form-select overflow-auto" [(ngModel)]="addWeightPopup.weight" size="3">
          <option *ngFor="let w of [].constructor(401); let i = index" [value]="i * 0.5">{{ i * 0.5 }} kg</option>
        </select>
      </div>
      <div class="popup-footer">
        <button class="btn btn-secondary" (click)="addWeightPopup = null;">Cancel</button>
        <button class="btn btn-primary" (click)="addWeightPopup.confirm();">Confirm</button>
      </div>
    </div>
  </div>
</div>

<!-- Add res -->
<div *ngIf="addRepsPopup?.show" class="popup-overlay">
  <div class="popup-wrapper">
    <div class="popup-content" style="width: 300px;">
      <div class="popup-header">
        <span class="popup-title" style="font-weight: bold; font-size: 1.2rem;">Add Reps</span>
        <span class="popup-subtitle text-muted" style="font-weight: bold;">Select how many reps and how many times you want it</span>
      </div>
      <div class="popup-body">

      </div>
      <div class="popup-footer">
        <button class="btn btn-secondary" (click)="addRepsPopup = null;">Cancel</button>
        <button class="btn btn-primary" (click)="addRepsPopup.confirm();">Confirm</button>
      </div>
    </div>
  </div>
</div>
