<div class="popup-overlay d-flex align-items-center justify-content-center">
  <div class="popup-wrapper" style="width: 95%; max-height: 95vh; overflow: auto;">
    <div class="popup-content w-100 h-100 p-2" style="border-color: #c5c5c5;">
      <div class="d-flex flex-column gap-3 overflow-auto h-100">
        <div class="popup-header">
          <span class="page-title" style="font-size: 1.5rem; font-weight: bold;">Create Program</span>
        </div>

        <div class="card w-100 p-3 overflow-auto" *ngIf="newProgram?.show">
          <div class="mb-3">
            <input type="text" class="form-control" id="programName" [(ngModel)]="newProgram.name" placeholder="Enter program name">
          </div>
          <!--search-->
          <div class="d-flex align-items-center gap-2 mb-4">
            <input type="text" class="form-control" style="width: 250px;" [(ngModel)]="searchText" placeholder="Search exercises" (input)="searchExercises()">
            <div class="d-flex flex-row align-items-center gap-2" *ngIf="categories.length > 0">
              <span>Filter by categories</span>
              <app-dropdown [text]="'Select'" [items]="categories" (onItemClick)="searchExercises($event)"></app-dropdown>
            </div>
            <div class="d-flex flex-row align-items-center gap-2" *ngIf="muscleGroups.length > 0">
              <span>Filter by muscles group</span>
              <app-dropdown [text]="'Select'" [items]="muscleGroups" (onItemClick)="searchExercises($event)"></app-dropdown>
            </div>
            <button class="btn btn-outline-warning" (click)="addExercise({name: 'Rest'})">Add Rest</button>
          </div>
          <div class="animated-container">
            <div class="row g-3">
              <ng-container>
                <div class="col-6">
                  <div class="row g-3 overflow-auto" style="max-height: 500px;">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let exercise of exercises" [hidden]="exercise.show">
                      <div class="card exercise-card rounded overflow-hidden d-flex flex-column align-items-center" (click)="addExercise(exercise)" style="cursor: pointer;">
                        <div class="flex-fill w-100 d-flex align-items-center justify-content-center">
                          <button class="btn btn-link border position-absolute" style="left: 10px;" (click)="prevImage(exercise); $event.stopPropagation();">
                            <i class="fas fa-chevron-left"></i>
                          </button>
                          <img [src]="exercise.images[imageIndexes[exercise.name] || 0]" alt="{{ exercise.name }}" class="img-fluid" style="max-height: 100%; object-fit: contain; filter: brightness(0.8)">
                          <button class="btn btn-link border position-absolute" style="right: 10px;" (click)="nextImage(exercise); $event.stopPropagation();">
                            <i class="fas fa-chevron-right"></i>
                          </button>
                        </div>
                        <div class="mt-auto">
                          <h5 class="card-title text-center mb-0">{{ exercise.name }}</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div *ngFor="let ex of newProgram.exercises">
                    <div class="d-flex flex-column mb-2 border rounded position-relative">
                      <div class="position-absolute" style="top: 5px; right: 5px;">
                        <button class="btn btn-link text-danger" (click)="removeExercise(ex)">
                          <i class="fas fa-times"></i>
                        </button>
                      </div>
                      <div class="d-flex gap-2">
                        <div class="overflow-hidden" style="width: 120px; height: 120px;">
                          <img *ngIf="ex.name !== 'Rest'" [src]="ex.images[0]" alt="{{ ex.name }}" class="img-fluid rounded" style="max-height: 100%; object-fit: cover;">
                          <div *ngIf="ex.name === 'Rest'" class="w-100 d-flex justify-content-center pt-2">
                            <i class="fas fa-clock text-muted" style="font-size: 2rem;"></i>
                          </div>
                        </div>
                        <div class="d-flex flex-column gap-1">
                          <span style="font-size: 1.4rem; font-weight: bold;">{{ ex.name }}</span>
                          <div *ngIf="ex.name !== 'Rest'" class="px-1 rounded bg-danger bg-opacity-50" style="cursor: pointer; width: fit-content;" (click)="addWeight(ex)">
                            <span class="text-white" style="font-size: 0.9rem;">{{ex.weight ? ex.weight.weight + ' ' + ex.weight.unit : 'Add Weight'}} <i class="fas fa-edit ms-1"></i></span>
                          </div>
                          <div *ngIf="ex.name !== 'Rest' && !ex.reps" class="px-1 rounded bg-danger bg-opacity-50" style="cursor: pointer; width: fit-content;" (click)="addReps(ex)">
                            <span class="text-white" style="font-size: 0.9rem;">{{'Add Reps and times +'}}</span>
                          </div>
                          <div *ngIf="ex.reps" class="d-flex flex-column gap-1">
                            <div *ngFor="let time of ex.reps" class="d-flex flex-row align-items-center bg-danger bg-opacity-50 rounded text-white px-1">
                              <span>{{time.reps}} reps</span>
                              <span *ngIf="ex.reps.length > 1"><i class="fas fa-circle" style="font-size: 0.5rem; position: relative; top: -2px; margin: 0 4px;"></i> {{time.restSeconds}}s Rest</span>
                            </div>
                          </div>
                          <div *ngIf="ex.name === 'Rest'" class="px-1 rounded bg-danger bg-opacity-50" style="cursor: pointer; width: fit-content;" (click)="addRestTime(ex)">
                            <span class="text-white" style="font-size: 0.9rem;">{{ex.restSeconds ? ex.restSeconds + 's' : 'Add time +'}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="d-flex flex-column gap-1 mt-auto">
          <div class="d-flex justify-content-end gap-2 mt-auto">
            <button class="btn btn-secondary" (click)="newProgram = null; gs.createProgramPopupShow = false;">Cancel</button>
            <button class="btn btn-success" (click)="newProgram.save();">
              <i class="fa fa-check"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Weight popup -->
<div *ngIf="addWeightPopup?.show" class="popup-overlay">
  <div class="popup-wrapper">
    <div class="popup-content" style="width: 300px;">
      <div class="popup-header">
        <span class="popup-title" style="font-weight: bold; font-size: 1.2rem;">Add Weight</span>
        <span class="popup-subtitle text-muted" style="font-weight: bold;">Select weight for the: {{addWeightPopup.exercise.name}}</span>
      </div>
      <div class="popup-body">
        <div class="mb-3 d-flex gap-2">
          <button class="btn btn-outline-primary" [ngClass]="{'active': addWeightPopup.unit === 'kg'}" (click)="addWeightPopup.unit = 'kg'">KG</button>
          <button class="btn btn-outline-secondary" [ngClass]="{'active': addWeightPopup.unit === 'lb'}" (click)="addWeightPopup.unit = 'lb'">Lb</button>
        </div>
        <div class="mb-3">
          <label class="form-label">Weight</label>
          <input type="number" class="form-control" [(ngModel)]="addWeightPopup.weight" min="1" />
        </div>
      </div>
      <div class="popup-footer">
        <button class="btn btn-secondary" (click)="addWeightPopup = null;">Cancel</button>
        <button class="btn btn-primary" (click)="addWeightPopup.confirm();">Confirm</button>
      </div>
    </div>
  </div>
</div>

<!-- Add res -->
<div *ngIf="addRepsPopup?.show" class="popup-overlay">
  <div class="popup-wrapper">
    <div class="popup-content" style="width: 300px;">
      <div class="popup-header">
        <span class="popup-title" style="font-weight: bold; font-size: 1.2rem;">Add Reps</span>
        <span class="popup-subtitle text-muted" style="font-weight: bold;">Select how many reps and how many times you want it</span>
      </div>
      <div class="popup-body">
        <div class="mb-3">
          <label class="form-label">Times</label>
          <input type="number" class="form-control" [(ngModel)]="addRepsPopup.timeNum" (ngModelChange)="addRepsPopup.timesChange()" min="1" />
        </div>
        <div class="mb-3">
          <label class="form-label">Reps</label>
          <input type="number" class="form-control" [(ngModel)]="addRepsPopup.repsNum" (ngModelChange)="addRepsPopup.timesChange()" min="1" />
        </div>
        <div class="mb-3">
          <label class="form-label">Rest between sets (seconds)</label>
          <input type="number" class="form-control" [(ngModel)]="addRepsPopup.restSecondsNum" (ngModelChange)="addRepsPopup.timesChange()" min="0" />
        </div>
        <div class="mb-3 d-flex flex-column gap-1" style="max-height: 110px; overflow: auto;" *ngIf="addRepsPopup.preview.length">
          <div *ngFor="let time of addRepsPopup.preview" class="d-flex flex-row align-items-center bg-danger bg-opacity-50 rounded text-white px-1">
            <span>{{time.reps}} reps</span>
            <span *ngIf="addRepsPopup.preview.length > 1"><i class="fas fa-circle" style="font-size: 0.5rem; position: relative; top: -2px; margin: 0 4px;"></i> {{time.restSeconds}}s Rest</span>
          </div>
        </div>
      </div>
      <div class="popup-footer">
        <button class="btn btn-secondary" (click)="addRepsPopup = null;">Cancel</button>
        <button class="btn btn-primary" (click)="addRepsPopup.confirm();">Confirm</button>
      </div>
    </div>
  </div>
</div>

<!-- Add Rest popup -->
<div *ngIf="addRestPopup?.show" class="popup-overlay">
  <div class="popup-wrapper">
    <div class="popup-content" style="width: 300px;">
      <div class="popup-header">
        <span class="popup-title" style="font-weight: bold; font-size: 1.2rem;">Add Rest time</span>
      </div>
      <div class="popup-body">
        <div class="mb-3">
          <label class="form-label">Seconds:</label>
          <input type="number" class="form-control" [(ngModel)]="addRestPopup.restSecondsNum" min="1" />
        </div>
      </div>
      <div class="popup-footer">
        <button class="btn btn-secondary" (click)="addRestPopup = null;">Cancel</button>
        <button class="btn btn-primary" (click)="addRestPopup.confirm();">Confirm</button>
      </div>
    </div>
  </div>
</div>
